---
import { useTranslations } from '../../../i18n/utils';
import {languages} from '../../../i18n/ui';
const currentLang = Astro.currentLocale || "en";
const translateUi = useTranslations(currentLang as keyof typeof languages);

const EXPERIENCE = [
    {
        date:'Feb 2024 - 2025',
        title: translateUi('experience.1.title'),
        description:
            translateUi('experience.1.description'),
        image:'/projects/C/Chelsinkip5.webp'
    },
    {
        date:'Dec 2024',
        title: translateUi('experience.2.title'),
        description:
            translateUi('experience.2.description'),
        image:'/projects/C/certificadoPHP.webp'
    },
    {
        date:'Nov 2024',
        title: translateUi('experience.3.title'),
        description:
            translateUi('experience.3.description'),
        image:'/projects/C/certificado-SQLmimo-1.webp'
    },
    {
        date:'Jan 2024',
        title: translateUi('experience.4.title'),
        description:
            translateUi('experience.4.description'),
        image:"/projects/C/CProgram.webp"
    },
    {
        date:'Nov 2023',
        title: translateUi('experience.5.title'),
        description:
            translateUi('experience.5.description'),
        image:"/projects/C/CBlockchain.webp"
    },
]


import ExperienceItems from "./ExperienceItems.astro"
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map(experience =>(
            <li class="mb-10 ms-4">
                <ExperienceItems {...experience}/>
            </li>
        ))
    }
 
</ol>
