---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro'
import Badge from "../components/Badge.astro"
import GithubIcon from "../components/icons/GithubIcon.astro"
import SocialIcon from "../components/SocialIcon.astro"
import LinkedinIcon from "../components/icons/LinkedinIcon.astro"
import MailIcon from "../components/icons/Mail.astro"
import Experience from '../components/Experience.astro';
import Briefcase from '../components/icons/Briefcase.astro'
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import { useTranslations } from '../i18n/utils';
import {languages} from '../i18n/ui';


const currentLang = Astro.currentLocale || "en";
const translateUi = useTranslations(currentLang as keyof typeof languages);
---

<Layout title=`${translateUi('index.title')}`>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">{translateUi('index.hi')}<a class="flex justify-center items-center"
				href="https://github.com/SrCidm"
				target="_blank"
				rel="noopener"
				><Badge>{translateUi('badge.Available')}</Badge></a></h1>
			<h2 class="text-xl text-yellow-200 lg:text-2xl opacity-75 text-wrap max-w-[700px]">
				{translateUi('index.subtitle')}
			</h2>
			<ul>
				<nav class="text-yellow-200 flex gap-4 mt-8 flex-wrap">
					<SocialIcon href="https://github.com/SrCidm">
						<GithubIcon class="size-4 md:size-6"/>Github
					</SocialIcon>
					<SocialIcon href="https://www.linkedin.com/in/srcidm/">
						<LinkedinIcon class="size-4 md:size-6"/>LinkedIn
					</SocialIcon>
					<SocialIcon href="mailto:sergio.g.cid.m@gmail.com">
						<MailIcon class="size-4 md:size-6"/>Sergio.g.cid.m@gmail.com
					</SocialIcon>
				</nav>
			</ul>
		</SectionContainer>
		<SectionContainer id="experience">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7"/>
				{translateUi('section.experience')}
			</h2>
			<Experience/>
		</SectionContainer>
		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Code class="size-7"/>
				{translateUi('section.projects')} 
			</h2>
			<h2>
				<Projects />
			</h2>
		</SectionContainer>
	</main>
</Layout>
