---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SectionContainer from '../components/SectionContainer.astro'
import Badge from "../components/Badge.astro"
import GithubIcon from "../components/icons/GithubIcon.astro"
import SocialIcon from "../components/SocialIcon.astro"
import LinkedinIcon from "../components/icons/LinkedinIcon.astro"
import MailIcon from "../components/icons/Mail.astro"
import Experience from '../components/Experience.astro';
import Briefcase from '../components/icons/Briefcase.astro'
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Sergio Cid's Portfolio - Web Developer and Programmer">
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">Hi, I'm Sergio Cid<a class="flex justify-center items-center"
				href="https://github.com/SrCidm"
				target="_blank"
				rel="noopener"
				><Badge>Available for hire</Badge></a></h1>
			<h2 class="text-xl lg:text-2xl opacity-75 text-wrap max-w-[700px]">
				Web Developer & Full-Stack Developer. With hands-on experience in both front-end and back-end technologies, 
				I specialize in crafting responsive, visually compelling UI designs and developing seamless, full-stack web solutions. 
				I’m skilled in modern frameworks like React, Vue, and Next.js, and am experienced in API integrations, ensuring robust, dynamic user experiences. 
				Ready to bring innovative ideas and technical expertise to your team!
			</h2>
			<ul>
				<nav class="flex gap-4 mt-8 flex-wrap">
					<SocialIcon href="https://github.com/SrCidm">
						<GithubIcon class="size-4 md:size-6"/>Github
					</SocialIcon>
					<SocialIcon href="https://www.linkedin.com/in/srcidm/">
						<LinkedinIcon class="size-4 md:size-6"/>LinkedIn
					</SocialIcon>
					<SocialIcon href="mailto:sergio.g.cid.m@gmail.com">
						<MailIcon class="size-4 md:size-6"/>Sergio.g.cid.m@gmail.com
					</SocialIcon>
				</nav>
			</ul>
		</SectionContainer>
		<SectionContainer id="experience">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7"/>
				Experiencie
			</h2>
			<Experience/>
		</SectionContainer>
		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Code class="size-7"/>
				Proyects 
			</h2>
			<h2>
				<Projects />
			</h2>
		</SectionContainer>
	</main>
</Layout>
