<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img 
    class="rounded-full size-20" 
    src="https://avatars.githubusercontent.com/u/160346195?v=4" 
    alt="Sergio Photo"
    />
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a class="cursor-pointer" href="#top">Home</a>
        <a class="cursor-pointer" href="#experience">Experience</a>
        <a class="cursor-pointer" href="#projects">Projects</a>
        <a class="cursor-pointer" href="mailto:sergio.g.cid.m@gmail.com">Contact</a>
    </nav>
</header>